<div class="container mt-3">
    <h2 class="text-center fontFamily">Gastos</h2>
    <div class="row text-center">
        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="card-body">
                    <app-ingresar-gasto></app-ingresar-gasto>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <app-listar-gastos></app-listar-gastos>
                </div>
            </div>
        </div>
    </div>
</div>